.home {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../assets/desert.jpg"); 
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

#about{
  padding-top: 5%;
}

header {
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  font-size: 24px;
  font-weight: 900;
  color: #f4f4f4;
}

/* I know important is not recommended but its to override the bootstrap. */
.nav-link{
  color: #fff !important;
  font-weight: 900;
}

.navbar-toggler-icon {
  color: #fff; 
}


#home {
    background-size: cover;
    color: #ffffff;
    text-align: center;
    padding: 100px 0;
}

/* Portfolio section styling */
#portfolio {
    padding: 50px 0;
}

h2{
  color: #fff;
  font-weight: bold;
}

.card {
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

/* Contact section styling */
#contact {
    background-color: #333;
    color: #fff;
    padding: 5px 0;
    text-align: center;
    position: fixed;
    bottom:0;
    height: 4vh;
    width: 100%;
}

@media (max-width: 768px) {
    body {
        background-size: cover;
    }
}