.home {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../assets/desert.jpg"); 
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

.white {
  color: #ffffff;
  font-weight: bold;
}

.whiteintro{
  color: #ffffff;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.2);
}

.aboutpage {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../assets/leaves.jpg"); 
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

#about{
  padding-top: 5%;
}

header {
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  font-size: 24px;
  font-weight: 900;
  color: #f4f4f4;
}

/* I know important is not recommended but its to override the bootstrap. */
.nav-link{
  color: #fff !important;
  font-weight: 900;
}

.navbar-toggler-icon {
  color: #fff; 
}


#home {
    background-size: cover;
    color: #ffffff;
    text-align: center;
    padding: 100px 0;
}

/* Portfolio section styling */
#portfolio {
    padding: 50px 0;
}

h2{
  color: #fff;
  font-weight: bold;
}

.card{
  background: transparent;
  border: none;
  position: relative;
}

.vidcontainer{
  display:none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card:hover .vidcontainer{
  display: block;
}


/* Contact section styling */
#contact {
    background-color: #333;
    color: #fff;
    padding: 5px 0;
    text-align: center;
    position: fixed;
    bottom:0;
    height: 6vh;
    width: 100%;
}

h1 {
  font-weight: 900;
}

@media (max-width: 768px) {
    body {
        background-size: cover;
    }
}

.timeline {
  position: relative;
  padding-left: 40px;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 20px;
  width: 2px;
  height: 100%;
  background-color: #11740a;
}

.timeline-item {
  position: relative;
  margin-bottom: 20px;
}

.timeline-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: -8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #11740a;
}

.timeline-item .timeline-content {
  position: relative;
  padding: 20px;
  border-radius: 8px;
}